.carousel-wrapper {
    position: relative;
    width: 100%;
    height: 500px; /* fixed height for consistent layout */
    overflow: hidden;
}

.carousel-slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.carousel-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.carousel-caption {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

    /* background: rgba(0,0,0,0.5); */
    color: white;
    padding: 0.5em 1em;
    border-radius: 4px;
    font-size: 1.2rem;
}

.carousel-prev,
.carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgb(0 0 0 / 40%);
    color: white;
    border: none;

    /* padding: 0.8em 1.2em; */
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    font-size: 2rem;
    z-index: 10;
}

.carousel-prev {
    left: 35px;
}

.carousel-next {
    right: 35px;
}
